{% extends 'base.html' %}
{% block content %}
      <div class="content">
        <div class="stats">
          <div>
            <a href="{% url 'top-150-accurate-predictions' %}"> TOP-150 accurate predictions</a>
          </div>
          <div>
            <a href="{% url 'transfer-records' %}">Transfers records</a>
          </div>
          <div>
            <a href="{% url 'top-50-clubs-by-expenditure' %}"> TOP-50 clubs by expenditure in {{ last_season.name }} </a>
          </div>
          <div>
            <a href="{% url 'top-50-clubs-by-income' %}"> TOP-50 clubs by income in {{ last_season.name }} </a>
          </div>
        </div>
      </div>
{% endblock %}