{% extends 'base.html' %}

{% block content %}
<div class="nav">
    <h2>– TOP-50 CLUBS BY EXPENDITURE IN 2025/26 –</h2>
    <table class="content-nav">
        <thead>
            <tr>
                <td>#</td>
                <td>Player</td>
                <td></td>
                <td></td>
                <td>Expenditures, mill. euro</td>
            </tr>
        </thead>
    </table>
</div>

<div class="latest-transfers">
    <table class="top-players" style="margin-top: 90px;">
        {% for club in clubs %}
        <tr>
            <td style="width: 150px !important;">{{ forloop.counter }}</td>
            <td style="width: 150px !important;">{{ club.name }}</td>
            <td style="border: none;"></td>
            <td style="border: none;"></td>
            <td style="border: none;"></td>
            <td style="border: none;"></td>
            <td style="border: none;">{{ club.total_income|default:0 }}</td>
            <td></td>
        </tr>
        {% endfor %}
    </table>
    <hr>
    <p>It is a list of the most expensive transfers of all time. The minimum transfer value is 50 million euro.</p>
</div>
{% endblock %}
